 /** {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

*/
        .container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
            max-width: 1200px;
            padding-top: 120px;
            margin-left: 170px;
       
            
        }

        .product {
            background: white;
            padding: 15px;
            text-align: center;
            border-radius: 20px;
            width:240px;
            height:350px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            position: relative;
            -webkit-transition-duration: 0.4s; /* Safari */
             transition-duration: 2s;
        }

        .product:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        
        }

        .product img {
            max-width: 100%;
            height: 170px;
            object-fit: contain;
            
        }

        .product-name {
            font-size: 18px;
            margin: 10px 0;
            font-weight: bold;
        }

        .price {
            color: green;
            font-size: 16px;
            margin-bottom: 10px;
        }

        .add-to-cart {
              background-color: white;
              color: #555;
              border: none;
              border-radius: 25px;
              padding: 10px 20px;
              box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
              font-weight: 500;
              font-size: 16px;
              margin-left: 40px;
              display: flex;
              align-items: center;
              gap: 10px;
              cursor: pointer;
              transition: all 0.3s ease
        }

        

        .add-to-cart:hover {
            background-color: #62d75e;
            transform: translateY(-2px);
            color:white;
        }

        .discount {
            position: absolute;
            top: 10px;
            left: 10px;
            background: green;
            color: white;
            padding: 5px;
            font-size: 14px;
            border-radius: 5px;
        }

        /*vegatbale topic*/
        .section-title {
           display: flex;
           align-items: center;
           text-align: center;
           padding-top: 60px;
           gap: 20px;
        }

        .section-title hr {
            flex: 1;
            border: none;
            border-top: 2px solid #ccc;
        
        }

        .section-title span {
            font-size: 24px;
            font-weight: 500;
            color: #222;
        }
       
        .footer_space{
            
            height: 70px;
        }